* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trackName {
  font-size: 1rem;
}

.previewController {
  width: 300px;
}
