* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  list-style: none;
  text-decoration: none;
  background-color: black;
  color: rgb(255, 251, 243);
}

a {
  cursor: pointer;
  border: solid 1px white;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
}

a:hover {
  background-color: rgb(126, 70, 28);
}

button {
  cursor: pointer;
  border: solid 1px white;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
}

button:hover {
  background-color: rgb(77, 28, 28);
}

header {
  height: 5rem;
  padding: 1rem 2.5rem;
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80svh;
  gap: 1rem;
}

.welcomeText {
  font-size: clamp(1.5625rem, -4.0305rem + 25.5682vw, 10rem);
}

.description {
  width: 350px;
  text-align: center;
  font-size: clamp(0.0625rem, -3.2105rem + 14.9621vw, 3rem);
}
.playlistLink {
  margin-top: 3rem;
  font-size: clamp(0.0625rem, -3.2105rem + 14.9621vw, 2.5rem);
}

.playlistLink:hover {
  background-color: rgb(62, 93, 59);
}
.navItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.navLink {
  font-size: clamp(0.8rem, 0.336rem + 2.1212vw, 1.5rem);
}

.playlistContainer {
  padding: 2rem 0rem;
  display: flex;
  flex-flow: wrap;
  gap: 10rem;
  row-gap: 5rem;
  justify-content: center;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.trackName {
  font-size: 1.8rem;
  padding: 1rem 0rem;
}

.audioPlayer {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.audioPlayButton:hover {
  background-color: rgb(54, 54, 95);
}

.time {
  font-size: 1.2rem;
}

.noPreview {
  padding: 1rem 0rem;
  font-size: 1.2rem;
}

.generateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: clamp(0.0625rem, -3.2105rem + 14.9621vw, 3rem);
  padding: 5rem 0rem;
}

.createPlaylistButton {
  font-size: 1.6rem;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.or {
  font-size: 2rem;
}

.createPlaylistButton:hover {
  background-color: rgb(131, 119, 52);
}

.createdPlaylist {
  height: 80svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playlistContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlistName {
  font-size: clamp(0.0625rem, -3.2105rem + 14.9621vw, 3rem);
  padding: 1rem 0rem;
}

.viewOnSpotify {
  margin-top: 2rem;
}
